template(name='model_doc_view')
    if template_exists
        +Template.dynamic template=model_template
    else
        with current_doc
            .ui.stackable.padded.grid
                .row
                    .four.wide.column
                        .ui.circular.basic.large.button.back_to_model.fly_right
                            i.chevron.left.icon
                            // i.big.icon(class=current_model.icon)
                            +i name=current_model.icon cl='ui avatar image'
                            |#{current_model.title}
                        // if can_edit
                        a.ui.large.icon.circular.button.fly_down(href="/m/#{current_model.slug}/#{_id}/edit" title='Edit')
                            i.pencil.large.icon
                        // if is_admin
                        // .ui.header 
                        //     i.clock.icon
                        //     |timestamp tags
                        each _timestamp_tags
                            .ui.inverted.label #{this}
                        // +user_list_toggle key='bookmark_ids' icon='bookmark' label='bookmark'
                        .ui.small.inline.header #{views}
                        // .ui.small.inline.header by
                        // each viewer_usernames
                        //     .ui.small.label #{this}
                        
                        // .ui.small.header
                            // |by
                            // +author_info
                            // +creation_info
                        //- +points_transaction
                        +voting
                    .twelve.wide.column
                        .ui.header
                            each fields
                                if header
                                    +Template.dynamic template=view_template 
                            // if icon
                            //     i.icon(class=icon)
                            // |#{title}
                        each fields
                            unless header
                                .item
                                    +Template.dynamic template=view_template 
                        // each current_model.actions
                        //     +Template.dynamic template=this data=current_doc
                        +comments
                        //- div
                        // if watson
                        //     +watson_view
                        +call_wiki
                        +related_wiki_article
                        
                        
template(name='related_wiki_article')
    with related_article
        .ui.header #{title}
                        
                        
template(name='call_wiki')  
    .ui.button.call_wiki
        |call wiki
  
template(name='comments')
    // .ui.grey.header
    //     i.chat.outline.icon
    //     |comments
    // if currentUser
    .ui.icon.large.input
        i.large.chat.outline.icon
        input.add_comment(model='text' placeholder='comment...')
    .ui.comments
        each doc_comments
            .comment
                .content
                    .ui.header #{body}
                    // .meta #{when}
                    //     // |by 
                    //     // a.fly_right(href="/user/#{author.username}") #{author.first_name} #{author.last_name}
                    //     // +voting_small
                    //     // if can_edit
                    //     //     +remove_button
                                
                                
                        
                        
template(name='model_doc_edit')
    // if template_exists
    //     +Template.dynamic template=model_template
    // else
    with current_doc
        .ui.stackable.padded.grid
            .centered.row
                .sixteen.wide.column
                    .ui.inline.header(title="model: #{model}")
                        |edit #{model}
                    // +creation_info
                    a.ui.big.icon.green.circular.button(href="/m/#{model}/#{_id}/view")
                        i.big.checkmark.icon
                    #delete_doc.ui.icon.circular.button
                        i.trash.icon
                    if is_user
                        +boolean_edit key='private' direct=true
                    .ui.stackable.two.column.grid
                        //- |#{model}
                        each edit_fields
                            .column
                                +Template.dynamic template=edit_template 
                                .spacer
                            // .ui.header #{key} [#{field}] #{label}
            //- if watson 
            //-     .row
            //-         .sixteen.wide.column
            //-             +watson_view
                
            
// template(name='points_transaction')
//     .ui.header my points #{currentUser.points}
//     .ui.header offer points
//     .ui.input
//         input.offer_points_amount(type='number')
//     .ui.button.offer_points
//         i.right.chevron.icon
//     each offers
//         +offer
        
        
template(name='offer')
    .ui.small.inline.header amount #{amount}
    // +author_info                        
    
                        